## ETL Project UCI Data Visualization Bootcamp
Vishal Patel
Troy Rippeto
Anh Le

In [1]:
import pandas as pd

### Importing the trending data from ProjectData folder, and creating pandas dataframes from them.
Data Source: https://www.kaggle.com/datasnaek/youtube-new
Each csv file should contain the same columns, all Trending data from a different country.

In [2]:
US_data = "ProjectData/USvideos.csv"
UK_data = "ProjectData/GBvideos.csv"
CA_data = "ProjectData/CAvideos.csv"

In [3]:
us_videos = pd.read_csv(US_data)
uk_videos = pd.read_csv(UK_data)
ca_videos = pd.read_csv(CA_data)

Example of what columns are included for each Dataframe

In [4]:
us_videos.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

Cleaning the dataframes by dropping columns that we don't need. The same applied to all three dataframes. Printed a different country to show this.

In [5]:
dropped_us = us_videos.drop(['trending_date','comments_disabled',
                             'ratings_disabled','video_error_or_removed', 'thumbnail_link'], axis = 1)
dropped_uk = uk_videos.drop(['trending_date','comments_disabled',
                             'ratings_disabled','video_error_or_removed', 'thumbnail_link'], axis = 1)
dropped_ca = ca_videos.drop(['trending_date','comments_disabled',
                             'ratings_disabled','video_error_or_removed', 'thumbnail_link'], axis = 1)

In [6]:
dropped_uk.head()

,video_id,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,description
0,Jw1Y-zhQURU,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,Click here to continue the story and make your...
1,3s1rvMFUweQ,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,Dashcam captures truck's near miss with child ...

### Imported list of categories text file to translate category_id to name of category, and stored as a dict.
Source of data from Github: https://gist.github.com/dgp/1b24bf2961521bd75d6c#gistcomment-2714395
stored as text file and transformed

In [7]:
#Each line of text file is in form of # CategoryName. So we split the line by space, and 
#stored the number as a key and the CategoryName as its value.
category_list = open("ProjectData/categories.txt", "r").read()
category_list = category_list.split('\n')
category_translation = {}
for category in category_list:
    number = category.split(" ")[0]
    name = ''.join(category.split(" ")[1:])
    category_translation[int(number)] = name

In [8]:
category_translation

{1: 'Film&Animation',
 2: 'Autos&Vehicles',
 10: 'Music',
 15: 'Pets&Animals',
 17: 'Sports',
 18: 'ShortMovies',
 19: 'Travel&Events',
 20: 'Gaming',
 21: 'Videoblogging',
 22: 'People&Blogs',
 23: 'Comedy',
 24: 'Entertainment',
 25: 'News&Politics',
 26: 'Howto&Style',
 27: 'Education',
 28: 'Science&Technology',
 29: 'Nonprofits&Activism',
 30: 'Movies',
 31: 'Anime/Animation',
 32: 'Action/Adventure',
 33: 'Classics',
 34: 'Comedy',
 35: 'Documentary',
 36: 'Drama',
 37: 'Family',
 38: 'Foreign',
 39: 'Horror',
 40: 'Sci-Fi/Fantasy',
 41: 'Thriller',
 42: 'Shorts',
 43: 'Shows',
 44: 'Trailers'}

Replaced the category number with a name

In [9]:
dropped_us = dropped_us.replace({'category_id': category_translation })
dropped_uk = dropped_uk.replace({'category_id': category_translation })
dropped_ca = dropped_ca.replace({'category_id': category_translation })

In [10]:
dropped_us.head()

,video_id,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,description
0,2kyS6SvSYSE,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,People&Blogs,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,Entertainment,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,"One year after the presidential election, John..."
2,5qpjK5DgCt4,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,Comedy,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,Entertainment,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,I Dare You: GOING BALD!?,nigahiga,Entertainment,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,I know it's been a while since we did this sho...

Merge the tables together

In [11]:
combined_videos = pd.merge(dropped_us, dropped_uk, how = 'inner', on = 'title')
combined_videos = pd.merge(combined_videos, dropped_ca, how = 'inner', on = 'title')
combined_videos = combined_videos[['title', 'channel_title_x', 'category_id_x', 'tags_x']]
combined_videos = combined_videos.drop_duplicates()
combined_videos = combined_videos.reset_index(drop = True)

In [12]:
combined_videos.head()

,title,channel_title_x,category_id_x,tags_x
0,The New SpotMini,BostonDynamics,Science&Technology,"Robots|""Boston Dynamics""|""SpotMini""|""Legged Lo..."
1,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,Music,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In..."
2,"Jennifer Lopez - Amor, Amor, Amor (Official Vi...",JenniferLopezVEVO,Music,"Jennifer Lopez ft. Wisin|""Jennifer Lopez ft. W..."
3,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,Music,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove..."
4,Jimmy Fallon Pays Tribute to His Mother Gloria,The Tonight Show Starring Jimmy Fallon,Comedy,"Jimmy Fallon|""Tonight Show Starring Jimmy Fall..."

Rename columns

In [13]:
combined_videos = combined_videos.rename(columns={"channel_title_x": "channel", "category_id_x": "category", "tags_x": "tags"})

## This is now importing the top 500 YouTube channels in order to filter the list of shared videos further

The dataset can be found here: https://www.kaggle.com/balaka18/youtubers-popularity-dataset

In [14]:
top_500 = "ProjectData/top_500.csv"
top_500_df = pd.read_csv(top_500)

In [15]:
top_500_df.head()

,Rank,Grade,Ch_name,Uploads,Subscriptions,Views
0,1st,A++,T-Series,"14,297",135M,"104,724,369,854"
1,2nd,A++,Cocomelon - Nursery Rhymes,517,78.2M,"57,054,290,512"
2,3rd,A++,✿ Kids Diana Show,691,50.9M,"24,157,678,368"
3,4th,A++,Like Nastya,400,52.2M,"30,591,257,306"
4,5th,A++,SET India,"37,017",69.3M,"52,149,505,781"

Merged top 500 YouTube channels with our combined YouTube videos list with an inner merge

In [16]:
combined_channels = pd.merge(top_500_df, combined_videos, how = 'inner', left_on = 'Ch_name', right_on = 'channel')
print(combined_channels.columns)

Index(['Rank', 'Grade', 'Ch_name', 'Uploads', 'Subscriptions', 'Views',
       'title', 'channel', 'category', 'tags'],
      dtype='object')

Reducing the columns included in final table for the channels in the top 500

In [17]:
combined_channels = combined_channels.drop_duplicates()
combined_channels = combined_channels[["Rank", "Grade", "Ch_name", "Subscriptions", "Views", "category"]]

In [18]:
combined_channels = combined_channels.drop_duplicates()
combined_channels = combined_channels.reset_index(drop = True)

In [19]:
combined_channels

,Rank,Grade,Ch_name,Subscriptions,Views,category
0,19th,A+,WWE,57.4M,"41,299,497,565",Sports
1,67th,A,MBCentertainment,6.86M,"9,251,564,684",Entertainment
2,95th,A,TheEllenShow,37.2M,"19,484,559,580",Entertainment
3,121st,A,Saturday Night Live,10M,"8,936,403,581",Entertainment
4,166th,A,Inside Edition,7.33M,"10,868,638,100",News&Politics
5,167th,A,jypentertainment,15.2M,"8,489,732,766",Music
6,178th,A,SMTOWN,21.9M,"16,064,678,295",Music
7,210th,A,Ed Sheeran,44.1M,"19,663,862,347",Music
8,250th,A,jbalvinVEVO,13.6M,"13,682,100,750",Music
9,261st,A,Mnet K-POP,13.3M,"8,357,545,782",Entertainment
10,298th,A,shakiraVEVO,18.9M,"17,620,883,202",Music
11,305th,A,NBA,13.8M,"6,797,433,345",Sports
12,326th,A,Jimmy Kimmel Live,16.5M,"9,675,184,935",Comedy
13,326th,A,Jimmy Kimmel Live,16.5M,"9,675,184,935",Entertainment
14,329th,A,Marshmello,44.4M,"8,560,476,910",Music
15,347th,A,LadyGagaVEVO,9.21M,"8,417,160,963",Music
16,359th,A,TheWeekndVEVO,10.9M,"8,936,073,854",Music
17,362nd,A,Maroon5VEVO,15.1M,"14,901,418,348",Music
18,363rd,A,David Dobrik,16.7M,"7,109,918,732",People&Blogs
19,364th,A,KatyPerryVEVO,25.6M,"19,001,952,411",Music
20,368th,A,CNN,9.24M,"6,421,938,011",News&Politics
21,406th,A,Dua Lipa,13.1M,"4,524,668,497",Music
22,431st,A,EminemVEVO,25.7M,"14,571,153,913",Music
23,432nd,A,TaylorSwiftVEVO,26.9M,"18,520,025,111",Music
24,454th,A,Markiplier,25.4M,"12,829,871,171",Comedy
25,469th,A,Atlantic Records,10.6M,"9,004,447,459",Music

Reconfigured the rank column to represent integers instead of a string so someone can easily sort these if needed

In [20]:
combined_channels_dict  = combined_channels.to_dict()
channel_ranks = combined_channels_dict["Rank"]
for index, rank in channel_ranks.items():
    rank_integer = int(rank.strip()[:-2])
    combined_channels_dict["Rank"][index] = rank_integer

In [21]:
Channel_Ranks = pd.DataFrame.from_dict(combined_channels_dict)

In [22]:
Channel_Ranks

,Rank,Grade,Ch_name,Subscriptions,Views,category
0,19,A+,WWE,57.4M,"41,299,497,565",Sports
1,67,A,MBCentertainment,6.86M,"9,251,564,684",Entertainment
2,95,A,TheEllenShow,37.2M,"19,484,559,580",Entertainment
3,121,A,Saturday Night Live,10M,"8,936,403,581",Entertainment
4,166,A,Inside Edition,7.33M,"10,868,638,100",News&Politics
5,167,A,jypentertainment,15.2M,"8,489,732,766",Music
6,178,A,SMTOWN,21.9M,"16,064,678,295",Music
7,210,A,Ed Sheeran,44.1M,"19,663,862,347",Music
8,250,A,jbalvinVEVO,13.6M,"13,682,100,750",Music
9,261,A,Mnet K-POP,13.3M,"8,357,545,782",Entertainment
10,298,A,shakiraVEVO,18.9M,"17,620,883,202",Music
11,305,A,NBA,13.8M,"6,797,433,345",Sports
12,326,A,Jimmy Kimmel Live,16.5M,"9,675,184,935",Comedy
13,326,A,Jimmy Kimmel Live,16.5M,"9,675,184,935",Entertainment
14,329,A,Marshmello,44.4M,"8,560,476,910",Music
15,347,A,LadyGagaVEVO,9.21M,"8,417,160,963",Music
16,359,A,TheWeekndVEVO,10.9M,"8,936,073,854",Music
17,362,A,Maroon5VEVO,15.1M,"14,901,418,348",Music
18,363,A,David Dobrik,16.7M,"7,109,918,732",People&Blogs
19,364,A,KatyPerryVEVO,25.6M,"19,001,952,411",Music
20,368,A,CNN,9.24M,"6,421,938,011",News&Politics
21,406,A,Dua Lipa,13.1M,"4,524,668,497",Music
22,431,A,EminemVEVO,25.7M,"14,571,153,913",Music
23,432,A,TaylorSwiftVEVO,26.9M,"18,520,025,111",Music
24,454,A,Markiplier,25.4M,"12,829,871,171",Comedy
25,469,A,Atlantic Records,10.6M,"9,004,447,459",Music

Finally, sorted the table by its rank

In [23]:
Channel_Ranks.sort_values(by=['Rank'])

,Rank,Grade,Ch_name,Subscriptions,Views,category
0,19,A+,WWE,57.4M,"41,299,497,565",Sports
1,67,A,MBCentertainment,6.86M,"9,251,564,684",Entertainment
2,95,A,TheEllenShow,37.2M,"19,484,559,580",Entertainment
3,121,A,Saturday Night Live,10M,"8,936,403,581",Entertainment
4,166,A,Inside Edition,7.33M,"10,868,638,100",News&Politics
5,167,A,jypentertainment,15.2M,"8,489,732,766",Music
6,178,A,SMTOWN,21.9M,"16,064,678,295",Music
7,210,A,Ed Sheeran,44.1M,"19,663,862,347",Music
8,250,A,jbalvinVEVO,13.6M,"13,682,100,750",Music
9,261,A,Mnet K-POP,13.3M,"8,357,545,782",Entertainment
10,298,A,shakiraVEVO,18.9M,"17,620,883,202",Music
11,305,A,NBA,13.8M,"6,797,433,345",Sports
13,326,A,Jimmy Kimmel Live,16.5M,"9,675,184,935",Entertainment
12,326,A,Jimmy Kimmel Live,16.5M,"9,675,184,935",Comedy
14,329,A,Marshmello,44.4M,"8,560,476,910",Music
15,347,A,LadyGagaVEVO,9.21M,"8,417,160,963",Music
16,359,A,TheWeekndVEVO,10.9M,"8,936,073,854",Music
17,362,A,Maroon5VEVO,15.1M,"14,901,418,348",Music
18,363,A,David Dobrik,16.7M,"7,109,918,732",People&Blogs
19,364,A,KatyPerryVEVO,25.6M,"19,001,952,411",Music
20,368,A,CNN,9.24M,"6,421,938,011",News&Politics
21,406,A,Dua Lipa,13.1M,"4,524,668,497",Music
22,431,A,EminemVEVO,25.7M,"14,571,153,913",Music
23,432,A,TaylorSwiftVEVO,26.9M,"18,520,025,111",Music
24,454,A,Markiplier,25.4M,"12,829,871,171",Comedy
25,469,A,Atlantic Records,10.6M,"9,004,447,459",Music

Now uploading two created tables to Mongo DB. One containing Youtube Trending Videos in common with 3 countries, the
other with those channels in the top 500 of YouTube.

In [24]:
import pymongo

In [25]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.ETLYouTube_db
db.SharedTrendingVideos.drop()
db.SharedChannelsTop500.drop()

# Declare the collection
SharedTrendingVideos = db.SharedTrendingVideos
SharedChannelsTop500 = db.SharedChannelsTop500

#Convert our combined video dataframe into a dictionary and insert into Mongo
combined_vid_dict = combined_videos.to_dict('records')
SharedTrendingVideos.insert_many(combined_vid_dict)

#Convert our ranked combined channel dataframe into a dictionary and insert into Mongo.
ranked_vid_dict = Channel_Ranks.to_dict('records')
SharedChannelsTop500.insert_many(ranked_vid_dict)

Showing that we are able to get an entry in each collection using pymongo.

In [26]:
ExampleCombinedvideos = db.SharedTrendingVideos.find_one()
print(ExampleCombinedvideos)

Exampletop500 = db.SharedChannelsTop500.find_one()
print(Exampletop500)

{'_id': ObjectId('5f51afe42793a2b0e9f8d526'), 'title': 'The New SpotMini', 'channel': 'BostonDynamics', 'category': 'Science&Technology', 'tags': 'Robots|"Boston Dynamics"|"SpotMini"|"Legged Locomotion"|"Dynamic robot"'}
{'_id': ObjectId('5f51afe42793a2b0e9f8d73a'), 'Rank': 19, 'Grade': 'A+', 'Ch_name': 'WWE', 'Subscriptions': '57.4M', 'Views': '41,299,497,565', 'category': 'Sports'}